target/
!.mvn/wrapper/maven-wrapper.jar
MANIFEST.MF
*.versionsBackup
.DS_Store
.flattened-pom.xml
hs_err_pid*.log
junit*.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/